<app-header></app-header>
<div class="con">
    <div class="pp1">
        <div>
            <div class="titre">
                <h1>
                    Détails <span class="sp1">personnel</span> </h1>
                        </div>
                        <div class="donee">
                            <p>Ajoutez votre <span class="sp2">photo</span>  et vos <span class="sp2">informations personnelles</span>  pour augmenter votre visibilité lorsque les employeurs recherchent des CV.</p>
                        </div>
                
        </div>
            </div>
<div class="p">
    <div class="profil">
        <div class="head">
            <div class="image">
                <img [src]="url" alt="">
                <div class="icon">
    
                    <a href="https://www.google.tn/maps/place/{{emp.gouvernerat}}" target="_blank"><i class='bx bxs-map pen'></i></a>
                </div>
            </div>
            <div class="nom">
                <p>{{emp.nom}}</p>
            </div>
        </div>
        <div class="info">
            <div class="p1">
                <div class="input">
                    <label for="#">Numéro de téléphone</label>
                    <p>{{emp.num}}</p>
                </div>
                <div class="input">
                    <label for="#">Email</label>
                    <p>{{emp.mail}}</p>
                </div>
            </div>
        
     
          
          
            </div>
            <div class="p3">
                <h2>Off<span class="s">res</span> </h2>
                <div class="offre">
        
            
            <div class="c"id="offre">
     <div class="cadre">
        <div class="d">
            <i class='bx bxs-briefcase-alt-2'></i>
            
            <p>  Lorem ipsum dolor sit amet.</p>
        </div>
        
     </div>
         
             </div>
          
            
                 
    
                </div>
            </div>
    
        </div>
</div>
 
 
</div>
<app-footer></app-footer>

